.navbar{
    justify-content: center;
    background-color: rgb(82, 135, 248);
    h1{
        color: white;
    }
}
.icon-cart{
     position: absolute;
     font-size: 30px;
     padding: 3px;
     right: 1%;
     color: white;
}



.cart-wrapper{
    display: flex;
    width: 250px;
    justify-content: space-between;
    background-color: rgba(249,237,252,1);
    -webkit-box-shadow: 2px 4px 12px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 12px -3px rgba(0,0,0,0.75);
box-shadow: 2px 4px 12px -3px rgba(0,0,0,0.75);
    padding: 5px;
    .img-wrapper{
        img{
            height: 100px;
            width: 100px;
        }
    }
    .desc-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        padding: 4px;
        .button-wrapper{
            margin-top: 3px;
            button{
                border: wheat ;
                padding: 5px;
                color: white;
                background-color: rgb(140, 87, 145);
            }
        }
    }
}